@font-face {
  font-family: 'GT Eesti Pro Display';
  src: url('../fonts/GTEestiProDisplay-Regular.woff2') format('woff2'),
      url('../fonts/GTEestiProDisplay-Regular.woff') format('woff'),
      url('../fonts/GTEestiProDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
